@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

html{
  scroll-behavior: smooth;
}

.wrapper {
    margin: 0;
    font-family: 'Sansita', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    height: 100%;
  }

#wrapper {
  background-image: url("./images/cityscape.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
  
  code {
    font-family: 'Sansita', sans-serif;
}
  